<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>503625371219-qji5ivgrl8n7rr304ije762f2k9hadvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503625371219-qji5ivgrl8n7rr304ije762f2k9hadvv</string>
	<key>API_KEY</key>
	<string>AIzaSyB3-s_0q0lmH_PKKbW4mM9y78SMRa9LhYI</string>
	<key>GCM_SENDER_ID</key>
	<string>503625371219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team3990.techportailmobile</string>
	<key>PROJECT_ID</key>
	<string>tech-portail-production</string>
	<key>STORAGE_BUCKET</key>
	<string>tech-portail-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503625371219:ios:6e416dba75cdc43d</string>
	<key>DATABASE_URL</key>
	<string>https://tech-portail-production.firebaseio.com</string>
</dict>
</plist>